body {
  user-select: none;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}
.todo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-size: 23px;
  background: rgb(149, 215, 224);
  background: linear-gradient(
    0deg,
    rgba(149, 215, 224, 1) 0%,
    rgba(93, 180, 191, 1) 100%
  );
}
h1 {
  color: #ffff;
  letter-spacing: 15px;
  padding-left: 10px;
}
.task {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  height: 80px;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px 20px 10px 40px;
  box-shadow: 0px 0px 2px 4px #3197a3;
  color: #000c;
}
.task:hover .delete-btn {
  display: inline-block;
}
.task p {
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.finished {
  background: none;
  color: white;
}
.finished p {
  text-decoration: line-through;
}
.empty-task {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 30%;
}
.empty-task img {
  width: 100%;
  height: auto;
}
.empty-task p {
  position: relative;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  text-align: center;
  background: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  display: inline-block;
}
.delete-btn {
  color: #f009;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(0, -50%);
  padding: 20px;
  display: none;
  cursor: pointer;
}
.title {
  font-size: 20px;
  color: #fffe;
  text-align: left;
  width: 50%;
}
.open-modal {
  background: #fff;
  border: none;
  height: 70px;
  width: 70px;
  box-sizing: border-box;
  border-radius: 50%;
  font-size: 40px;
  color: #8fd3dd;
  position: fixed;
  bottom: 5%;
  box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
  cursor: pointer;
}
.open-modal:hover {
  bottom: 6%;
}
.open-modal:focus {
  outline: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0005;
  backdrop-filter: blur(5px);
}
.modal .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  box-sizing: border-box;
  padding: 40px 30px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0px 0px 15px 0px #0003;
}
.modal .main input {
  width: 100%;
  height: 50px;
  font-size: 23px;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 3px #61d1de;
}
.modal .main input:focus {
  outline: none;
}
.modal .main input::placeholder {
  opacity: 0.5;
}
.modal .main button {
  font-size: 20px;
  color: #fffe;
  cursor: pointer;
  padding: 0 20px;
  height: 40px;
  background: #8cd2db;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 3px #61d1de;
}
.modal .main button:focus {
  outline: none;
}
.close-modal {
  display: none;
}

@media (max-width: 992px) {
  .task {
    width: 70%;
  }
  .empty-task {
    width: 60%;
  }
  .title {
    width: 70%;
  }
}
@media (max-width: 576px) {
  .task {
    width: 90%;
    height: 60px;
    padding-left: 20px;
    font-size: 18px;
  }
  .empty-task {
    width: 80%;
  }
  .empty-task p {
    font-size: 18px;
  }
  .title {
    width: 90%;
  }
  .modal .main {
    width: 80%;
  }
}
